In [2]:
import Scrapers.ackerman_scraper as ack_scraper

In [3]:
df = ack_scraper.dataframe_ackerman_auction()

{1202: '187 Oct 12, 2018 (NY)', 1197: '185A Sep 22, 2018 (HK)', 1196: '186 Sep 7, 2018 (NY)', 1192: '185 Jun 20, 2018 (NY)', 1190: '184A Jun 9, 2018 (HK)', 1188: '184 May 16, 2018 (NY)', 1187: '183A Apr 21, 2018 (HK)', 1185: '183 Apr 7, 2018 (NY)', 1184: '182A Mar 24, 2018 (HK)', 1181: '182 Mar 10, 2018 (NY)', 1179: '181 Feb 9, 2018 (NY)', 1177: '181A Jan 27, 2018 (HK)', 1174: '179 Dec 13, 2017 (NY)', 1173: '177A Dec 9, 2017 (HK)', 1172: '178 Nov 18, 2017 (NY)', 1170: '176A Nov 4, 2017 (HK)', 1168: '177 Oct 13, 2017 (NY)', 1165: '175A Sep 23, 2017 (HK)', 1163: '176 Sep 9, 2017 (NY)'}
1202 187 Oct 12, 2018 (NY)
1197 185A Sep 22, 2018 (HK)
1196 186 Sep 7, 2018 (NY)
1192 185 Jun 20, 2018 (NY)
1190 184A Jun 9, 2018 (HK)
1188 184 May 16, 2018 (NY)
1187 183A Apr 21, 2018 (HK)
1185 183 Apr 7, 2018 (NY)
1184 182A Mar 24, 2018 (HK)
1181 182 Mar 10, 2018 (NY)
1179 181 Feb 9, 2018 (NY)
1177 181A Jan 27, 2018 (HK)
1174 179 Dec 13, 2017 (NY)
1173 177A Dec 9, 2017 (HK)
1172 178 Nov 18, 2017 (NY)
1170 176A Nov 4, 2017 (HK)
1168 177 Oct 13, 2017 (NY)
1165 175A Sep 23, 2017 (HK)
1163 176 Sep 9, 2017 (NY)

In [5]:
df.head()

,Auction.Date,Auction.ID,Auction.Name,BottleQuantity,BottleSummary,Conditions,Designation,LotNo,Producer,ProducerAndDesignation,Size,SoldAmount,Vintage,Wine
0,None,1202,"187 Oct 12, 2018 (NY)",1,1 bottle,bn sdc,None,1,None,,bottle,3968.0,1982,Chateau Angelus
1,None,1202,"187 Oct 12, 2018 (NY)",1,1 bottle,,None,1,None,,bottle,3968.0,1983,Chateau Angelus
2,None,1202,"187 Oct 12, 2018 (NY)",1,1 bottle,spc,None,1,None,,bottle,3968.0,1985,Chateau Angelus
3,None,1202,"187 Oct 12, 2018 (NY)",1,1 bottle,,None,1,None,,bottle,3968.0,1988,Chateau Angelus
4,None,1202,"187 Oct 12, 2018 (NY)",1,1 bottle,,None,1,None,,bottle,3968.0,1990,Chateau Angelus

In [7]:
df.shape

(31962, 14)

In [21]:
wine_vintage_df = df.groupby(['Wine', 'Vintage']).agg(['count', 'sum'])['BottleQuantity']

In [23]:
wine_vintage_df = wine_vintage_df.reset_index()
wine_vintage_df = wine_vintage_df.sort_values('sum', ascending = False)

In [25]:
wine_vintage_df.head()

                                Wine Vintage  count  sum
5787                           Rioja    1970     33  649
3483  Dom Perignon Vintage Champagne    2002     55  605
2837             Chateauneuf du Pape    2007     74  526
5450              Puligny Montrachet    2005     50  458
324                           Barolo    2004     59  437